<h1>ブログ一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>ユーザー名</th>
      <th>画像</th>
  </tr>

 <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= blog.user.name %></td>
      <% if blog.image_url %>
        <td><%= image_tag blog.image_url, width: '50', height: '50' %></td>
      <% end %>

      <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
      <% if blog.user == current_user %>
        <td><%= link_to "編集する", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></td>
        <td><%= link_to '削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      <% end %>
    </tr>
 <% end %>
</table>

<%= link_to '新しくブログを投稿する', new_blog_path %>