<h1>ユーザー情報編集</h1>
<%= form_with(model: @user,local:true, ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br><%= f.label :"名前" %></br>
  <br><%= f.text_field :name %></br>
  <br><%= f.label :"メールアドレス" %></br>
  <br><%= f.email_field :email %></br>
  
  <br><%= f.label :"プロフィール画像" %></br>
  <br><%= image_tag(@user.image.url, class: "icon") if @user.image && @user.image.url %><br>
  <br><%= f.file_field :image %></br>
  <br><%= f.hidden_field :image_cache %></br>
  <br><%= f.label :"パスワード" %></br>
  <br><%= f.password_field :password %></br>
  <br><%= f.label :"パスワード(確認用)" %></br>
  <br><%= f.password_field :password_confirmation %></br>
  
  <div class="submit_record">
    <p><%= f.submit "情報変更" %></p>
  </div>
<% end %>