<h1>ユーザー情報編集</h1>
<%= form_with(model: @user,local:true, ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :"名前" %>
  <%= f.text_field :name %>
  <%= f.label :"メールアドレス" %>
  <%= f.email_field :email %>
  
  <%= f.label :"プロフィール画像" %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <%= f.label :"パスワード" %>
  <%= f.password_field :password %>
  <%= f.label :"パスワード(確認用)" %>
  <%= f.password_field :password_confirmation %>
  
  <div class="submit_record">
    <p><%= f.submit "情報変更" %></p>
  </div>
<% end %>